{% extends "layouts/app.html" %}
{% block title %}{{ contract_address }} | Contract explorer{% endblock %}
{% block content %}
<h1>Contract <code>{{ contract_address }}</code> functions</h1>

<h3>Exact matches in other contracts</h3>

<table class="table table-sm">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Function</th>
      <th>Found in contracts</th>
    </tr>
  <thead>

  <tbody>
  {% for function in functions %}
    <tr>
      <td>
        <a href="/contract/{{ contract_address }}/{{ function.hash }}">
          {{ identicon_img(function, 48) }}
        </a>
      </td>
      <td>
        <div>
          <a href="/contract/{{ contract_address }}/{{ function.hash }}">
            <code>{{ function.name }}</code>
          </a>
        </div>

        <a href="/contract/{{ contract_address }}/{{ function.hash }}">
          <small><code>{{ function.hash }}</code></small>
        </a>
      </td>
      <td>
        {{ function.found_count }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

<p>Functions with the highest similarity with some other:</p>

<strong>TODO</strong>
