{% extends "layouts/app.html" %}
{% block title %}{{ contract_address }} | Contract explorer{% endblock %}
{% block content %}
  <h1><code>{{ contract }}</code></h1>

  <p>Functions with the highest similarity with some other:</p>

  <table class="table table-sm">
    <tr>
      <th>&nbsp;</th>
      <th>Function</th>
      <th>Contract</th>
    </tr>

  {% for function in functions %}
    <tr>
      <td>
        <a href="/contract/{{ contract_address }}/{{ function.hash }}">
          {{ identicon_img(function, 48) }}
        </a>
      </td>
      <td>
        <a href="/contract/{{ contract_address }}/{{ function.hash }}">
          <code>{{ function.name }}</code>
          <small><code>{{ function.hash }}</code></small>
        </a>
      </td>
      <td>
        <a href="/contract/{{ function.contract_address }}">
          <code>{{ contract_address }}</code>
        </a>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
