{% extends "layouts/app.html" %}
{% from "macros.html" import identicon_img, fn_identicon, fn_info %}
{% block title %}{{ contract_address }} | Contract explorer{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    Contract <code>{{ contract_address }}</code>
  </li>
</ol>

<table class="table table-sm">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Function</th>

      <th>Contracts with the Same Implementation</th>
      <th>Various Implementations</th>

    </tr>
  <thead>

  <tbody>
  {% for function in functions %}
    <tr>
      <td>{{ fn_identicon(function) }}</td>
      <td>{{ fn_info(function) }}</td>
      <td>{{ function.found_count }}</td>
      <td>{{ function.variants_count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
