{% extends "layouts/app.html" %}
{% from "macros.html" import identicon_img, fn_identicon, fn_info, fn_contract %}
{% block title %}{{ function_hash }} | Contract Genius{% endblock %}
{% block content %}

<header>
  <div class="media">
    {{ identicon_img(function, 128) }}
    <div class="media-body">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/contract/{{ contract_address }}">
            Contract <code>{{ contract_address }}</code>
          </a>
        </li>
        <li class="breadcrumb-item ative">
          {{ function.name }}
          <code><small>{{ function_hash }}</small></code>
        </li>
      </ol>

      <div style="padding: 10px; background-color: lightgoldenrodyellow;">
      <pre>{{ function_sources|safe }}</pre>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-6">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Function</th>
          <th>Exact Implementation in Contract:</th>
        </tr>
      <thead>

      <tbody>
      {% for function in functions_exact %}
        <tr>
          <td>{{ fn_identicon(function) }}</td>
          <td>{{ fn_info(function) }}</td>
          <td>{{ fn_contract(function )}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-6">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Function</th>
          <th>Probability</th>
          <th>Contract</th>
        </tr>
      <thead>

      <tbody>
      {% for probability, function in functions_prediction %}
        <tr>
          <td>{{ fn_identicon(function) }}</td>
          <td>{{ fn_info(function) }}</td>
          <td>
            <code>{{ '%.2f' % probability }}</code>
          </td>
          <td>{{ fn_contract(function )}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
