{% extends "layouts/app.html" %}
{% block title %}{{ contract_address }} | Contract explorer{% endblock %}
{% block content %}
  <h1>{{ contract }}</h1>

  <p class="clearfix">Functions with the highest similarity with some other:</p>

  <ul class="list-unstyled clearfix">
  {% for function in functions %}
    <li>
      <a href="/contract/{{ contract_address }}/{{ function.hash }}">
        {{ function.name }}
        <small><code>{{ function.hash }}</code></small>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
